
{% extends 'abids/base.html' %}


{% block content %}


{{ auction.title }}

{% if user.is_authenticated %}
<a href="{% url 'abids:edit_auction' auction.id%}">[edit]</a>
{% endif %}

<p>{{ auction.desc }} </p>
<p>Бюджет: {{ auction.price }} р.</p>
<br>
<p>Предложения:</p>

<ul style="list-style-type:none">
    {% for bid in bids %}
    <li>{{bid}} р. "{{bid.bid_comment}}" <a href="#">{{bid.bid_owner}}</a> {% comment%}{{bid.pub_date|date:'d M, Y H:i'}}{% endcomment%}</li>

    {% empty %}
    <li>Пока не было предложений</li>

    {% endfor %}
</ul>


<br>
{% if user.is_authenticated %}
<p>Сделать новое предложение :</p>

{% if is_success %}{{is_success}}{% endif %}

<form action="{% url 'abids:auction' auction.id %}" method="post">
    {%csrf_token%}
    {{form.as_p}}

    <button name="submit">Submit</button>
    </form>

{% else %}
<a href="{% url 'users:login' %}">log in</a>
{% endif %}


{% endblock content %}
